<!DOCTYPE html>
<html>
<head>
    <title>WebRTC</title>
    <meta charset="utf-8">
</head>
<body>
<h1 id="myPeerId"></h1>
<video src="" id="localStream" controls width="300"></video>
<video src="" id="friendStream" controls width="300"></video><br><br>
<input type="text" placeholder="your friend id" id="textFriendId"><br><br>
<button id="btnConnect" style="font-size: 30px;">Call</button>
<script src="app.bundle.js"></script>
</body>
</html>